extends ../layouts/adminLayout

block content
    |
    .justify-content-center.align-items-center.d-flex.w-100.h-100
        form(action=`${ editing ? `/admin/edit-product?id=${product._id}` : '/admin/add-product'  }`, method="post", enctype="multipart/form-data")
            include ../partials/shortcodes/csrf
            div.form-group
                |
                if editing
                    input(type="hidden", name="oldImage", value=product.img)
                .custom-file.mb-4
                    label(for="product_img").custom-file-label
                    input(type="file", name="image", placeholder=`${__('Image url')}`, value=editing ? product.img : null ).custom-file-input
                |
                label(for="product_name")
                input(type="text", name="name", placeholder=`${__('Name')}`, value=editing ? product.title : null).form-control
                |
                label(for="product_price")
                input(step="0.01" type="number", name="price", placeholder=`${__('Price')}`, value=editing ? product.price : null).form-control
                |
                label(for="product_desc")
                textarea(name="desc", placeholder=`${__('Description')}`, rows="7").form-control #{editing ? product.desc : ''}
                |
            button(type="submit").btn.btn-primary.px-5.d-block.mx-auto.font-weight-bold #{editing ? __('Edit') : __('Create')}