extends ../layouts/adminLayout

block content
    |
    .col-10.mx-auto.mt-5.mb-3
        .orders--admin__header
            h5.display-4 #{__('Orders')}
        .orders--admin__list
            ul.list-group
                each order in orders
                    a.list-group-item.my-1.d-flex.align-items-center
                        h6 #{`${__('Order ID')}: `}
                            small #{order._id}
                        button.btn.btn-primary.ml-auto.text-capitalize #{__('see order')}
        .orders--admin__footer