header.header.navbar.navbar-expand-md.navbar-light.z-index-2
    nav.container.mx-auto
        a(href="/").navbar-brand.font-weight-bold #{Settings.getSettingVal("siteTitle")}
        button.navbar-toggler.border-0.arrow-toggler(type="button", data-toggle="collapse",data-target="#topbarMenu", aria-controls="topbarMenu",aria-expanded="false", aria-label="Toggle navigation")
            i.fas.fa-caret-down
        #topbarMenu.collapse.navbar-collapse.bg-white
            ul.navbar-nav.ml-auto.align-items-end
                li.nav-item.mr-md-3
                    a.nav-link(href="/shop/") #{__('Shop')}
                if isAuth
                    li.nav-item.dropdown.mr-md-3
                        a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true") #{user.name}
                        .dropdown-menu.disable
                            a.dropdown-item(href="/account/") #{__('Account')}
                            a.dropdown-item(href="/orders/") #{__('Orders')}
                            form(action="logout", method="POST")
                                include ../shortcodes/csrf
                                button(type="submit").dropdown-item #{__('Logout')}
                    li.nav-item
                        a.nav-link(href="/cart/").text-primary
                            i.fas.fa-shopping-basket
                else
                    li.nav-item.mr-md-3
                        a.nav-link(href="/login/") #{__('Login')}
                    li.nav-item
                        a.nav-link(href="/signup/") #{__('Signup')}
                