extends ../layouts/mainLayout.pug
include ../partials/mixins/formControl
include ../partials/mixins/header

block content
    |
    .container.mx-auto
        .cart__header
            +sectionHeader('Your cart', "lg")
        hr.mb-4
        if cart.products.length === 0
            .cart__empty.my-5
                h2.font-weight-light.text-center #{__('Cart is empty')}
                p.display-2.text-center.rotate-90 :(
        else
            .cart__products.my-5
                ul.list-group
                    each product, key in cart.products
                        li(id=`product_${key}`).list-group-item.d-flex.align-items-center.my-1.border-0
                            h5.mb-0.mr-auto #{product.title}
                            +formControl({type: "qtySelector", value: product.qty, name: `qty_${product._id}`}, "m-0")
                            form(action=`/cart/delete/${product._id}`, method='POST')
                                include ../partials/shortcodes/csrf.pug
                                button(type="submit").btn.btn-primary.ml-3.px-3.rounded-0.text-white
                                    i.fas.fa-times
        hr
        .cart__footer.d-flex.align-items-center.justify-content-between.mt-3
            if cart.products.length === 0
                a( href=referer ).btn.btn-primary.text-white.text-capitalize.px-4.ml-auto #{__('get back')}
            else
                p.m-0.text-right.font-weight-bold #{__('Total')}:
                    span.font-weight-normal  #{cart.totalPrice} #{Settings.getSettingVal("currency")}
                a(href="/checkout").btn.btn-primary #{__('Checkout')}
                //form(action=`/checkout`, method='POST')
                    include ../partials/shortcodes/csrf.pug
                    button(type="submit").btn.btn-primary.px-4.font-weight-bold #{__('Checkout')}