extends ../layouts/mainLayout.pug

block content
    |
    .shadow.jumbotron.col-9.mt-5.align-self-center.mx-auto
        .cart__header
            h2.display-4.mb-4 #{__('Your cart')}
            hr.mb-4
        if cart.products.length === 0
            .cart__empty.my-5
                h1.font-weight-light.text-center #{__('Cart is empty')}
                p.display-2.text-center.rotate-90 :(
                hr
        else
            .cart__products.my-5
                ul.list-group
                    each product in cart.products
                        li.list-group-item.d-flex.align-items-center.my-1.border-0
                            h5.mb-0.mr-5 #{product.title}
                            .qty.d-flex.align-items-center.ml-auto
                                button.bg-transparent.border-0 +
                                p.m-0.ml-auto  #{product.qty}
                                button.bg-transparent.border-0 -
                            form(action=`/cart/delete/${product._id}`, method='POST')
                                button(type="submit").btn.btn-primary.ml-3
                                    i.fas.fa-times
        
        .cart__footer.d-flex.align-items-center.justify-content-between.mt-3
            if cart.products.length === 0
                a( href="/shop" ).btn.btn-primary.text-white.text-capitalize.px-4.ml-auto #{__('get back')}
            else
                p.m-0.text-right #{`${__('Total')}: ${cart.totalPrice} ${get_currency()}`}
                a(href="/checkout").btn.btn-primary #{__('Checkout')}
                //form(action=`/checkout`, method='POST')
                    include ../partials/shortcodes/csrf.pug
                    button(type="submit").btn.btn-primary.px-4.font-weight-bold #{__('Checkout')}