header.header.navbar.navbar-expand-md.navbar-dark.bg-dark
    nav.container.mx-auto
        a(href="/").navbar-brand.text-white SHOP.JS
        button.navbar-toggler
            span.navbar-toggler-icon
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link(href="/shop/") #{__('Shop')}
            if isAuth
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown") #{__(user.name)}
                    .dropdown-menu
                        a.dropdown-item(href="/account/") #{__('Account')}
                        a.dropdown-item(href="/orders/") #{__('Orders')}
                        form(action="logout", method="POST")
                            include ../shortcodes/csrf
                            button(type="submit").dropdown-item #{__('Logout')}

                li.nav-item
                    a.nav-link(href="/cart/")
                        i.fas.fa-shopping-cart
            else
                li.nav-item
                    a.nav-link(href="/login/") #{__('Login')}
                li.nav-item
                    a.nav-link(href="/signup/") #{__('Signup')}
                