mixin addItemCard(href, size = "")
    a(href=href, class=size).w-100.addItemCard.bg-transparent.rounded.d-flex.align-items-center
            i.fas.fa-plus.display-1.mx-auto.text-primary

mixin controlPanel(ref, id)
    .d-flex.justify-content-end
        input(type="hidden", name=`${ref}ID`, value=id)
        a(href=`/admin/edit-${ref}/${id}`).btn.py-0.px-2
            i(title='Edit').fas.fa-edit.text-primary
        button(type="button", data-toggle='modal', data-target='#simpleDeleteModal', data-id=`${id}`).btn.py-0.px-2
            i(title='Delete').fas.fa-trash.text-secondary