include ./header

mixin billing_elem(head, val, mess)
    .col-6.font-weight-light.mb-3 
        h6.font-weight-bold.mb-0 #{__(head)}:
        if val
            p.mb-0 #{val}
        else
            p.mb-0.text-muted #{__(mess)}

mixin statusBtn(status)
    case status
        when "shipped"
            div.text-success.d-flex.align-items-center
                i.fas.fa-check.my-0.mr-1 
                p.d-none.d-md-block.m-0.font-weight-normal #{__(status)}
        when "canceled"
            div.text-danger.d-flex.align-items-center
                i.fas.fa-times.my-0.mr-1 
                p.d-none.d-md-block.m-0.font-weight-normal #{__(status)}
        when "in progress"
            div.text-warning.d-flex.align-items-center
                i.fas.fa-ellipsis-h.my-0.mr-1 
                p.d-none.d-md-block.m-0.font-weight-normal #{__(status)}

mixin orderListItem(order, url = "/admin/orders")
    - const date = order.date

    li.list-group-item.my-1.d-flex.align-items-center
        +statusBtn(order.status)
        .d-flex.align-items-center.mx-5.mr-auto
            i.fas.fa-fingerprint.text-primary
            small.ml-1.text-muted #{order._id}
        .d-flex.flex-column.text-muted.mx-2.align-items-center
            small #{date.getFullYear()}-#{(date.getMonth()+1).toString().padStart(2,0)}-#{date.getDate().toString().padStart(2,0)}
            small #{date.getHours().toString().padStart(2,0)}:#{date.getMinutes().toString().padStart(2,0)}:#{date.getSeconds().toString().padStart(2,0)}
        a(href=`${url}/${order._id}`)
            i.far.fa-eye.text-primary

mixin ordersList(orders, url = "/admin/orders")
    section
        div.d-flex.bg-white.p-3.mb-2
            h6.font-weight-bold.mb-0 #{__("Status")}
            h6.font-weight-bold.mb-0.mx-auto #{__("ID")}
            h6.font-weight-bold.mb-0 #{__("See order")}
        ul.list-group
            each order in orders
                +orderListItem(order, url)

mixin orderView(order, userType = "admin")
    - let headerType = "underline";
    case userType
        when "admin"
            - headerType = "clear"
        default
            break

    .order__header.mx-1
        +sectionHeader("Order summary", (userType === "admin")?"xxl": "lg", headerType)
        h6.ml-1.font-weight-bold id: 
            span.font-weight-light #{order._id}    
    hr.my-4
    .order__body.my-3.mx-1
        +sectionHeader("Billing details", "h4", headerType)
        .row.mb-3
            +billing_elem("Address", order.user.address,"No billing address")
            +billing_elem("Email", order.user.email, "No email address")
            +billing_elem("Phone", order.user.phone, "No phone number")
        +sectionHeader("Products", "h4", headerType)
        ul.list-group
            each product in order.cart.products
                li.list-group-item.my-1.d-flex.align-items-center
                    h6.m-0.mr-auto.text-align-center #{product.title} x #{product.qty}
                    span #{product.qty*product.price} #{Settings.getSettingVal("currency")}
    hr.my-4
    .order__footer.d-flex.align-items-center
        h6.m-0.font-weight-bold.mr-auto #{__("Total")}: 
            span.font-weight-normal #{order.cart.totalPrice} #{Settings.getSettingVal("currency")}
        if order.status == "in progress" && userType == "admin"
            form(action=`/admin/orders/${order._id}/?status=shipped`, method="post").mx-1
                include ../shortcodes/csrf
                button(type="submit").btn.btn-success.px-3
                    i.fas.fa-check
            form(action=`/admin/orders/${order._id}/?status=canceled`, method="post").mx-1
                include ../shortcodes/csrf
                button(type="submit").btn.btn-danger.px-3
                    i.fas.fa-ban
        else
            .d-flex
                p.m-0.text-muted.mr-2.d-md-none #{__("status")}: 
                +statusBtn(order.status)