extends ../layouts/mainLayout 

block content 
    |
    .jumbotron.col-8.mx-auto.align-self-center.text-center
        .newPassword__header
            h3.font-weight-light #{__('Pass new password')}
        if error.length !== 0
            .newPassword__errors
                p.text-danger #{error}

        .newPassword__form
            form(action=`/new-password/`, method="post").col-8.mx-auto
                include ../partials/shortcodes/csrf
                input(type="hidden", name="token" value=`${token}`)
                input(type="hidden", name="userID" value=`${userID}`)
                .form-group.mb-1
                    label(for="password")
                    input#password(type="password", name="password", placeholder="Password").form-control
                .form-group
                    label(for="confirmPassword")
                    input#confirmPassword(type="password", name="confirmPassword", placeholder="Confirm password").form-control
                button.btn.btn-primary.px-4(type="submit") #{__('Reset')}
        .newPassword__footer